@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype");
 }
$LeagueSpartan-Bold: 'LeagueSpartan-Bold', sans-serif;

@font-face {
    font-family: 'FiraSans-Regular';
    src: url("../fonts/FiraSans-Regular.otf") format("truetype");
 }
$FiraSans-Regular: 'FiraSans-Regular', sans-serif;

@font-face {
    font-family: 'FiraSans-BoldItalic';
    src: url("../fonts/FiraSans-BoldItalic.otf") format("truetype");
 }
$FiraSans-BoldItalic: 'FiraSans-BoldItalic', sans-serif;

@font-face {
    font-family: 'FiraSans-Bold';
    src: url("../fonts/FiraSans-Bold.otf") format("truetype");
 }
$FiraSans-Bold: 'FiraSans-Bold', sans-serif;

@font-face {
    font-family: 'FiraSans-ExtraBoldItalic';
    src: url("../fonts/FiraSans-ExtraBoldItalic.otf") format("truetype");
 }
$FiraSans-ExtraBoldItalic: 'FiraSans-ExtraBoldItalic', sans-serif;

@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url("../fonts/FiraSans-SemiBold.otf") format("truetype");
 }
$FiraSans-SemiBold: 'FiraSans-SemiBold', sans-serif;

@font-face {
    font-family: 'FiraSans-SemiBoldItalic';
    src: url("../fonts/FiraSans-SemiBoldItalic.otf") format("truetype");
 }
$FiraSans-SemiBoldItalic: 'FiraSans-SemiBoldItalic', sans-serif;

@font-face {
    font-family: 'FiraSans-Light';
    src: url("../fonts/FiraSans-Light.otf") format("truetype");
 }
$FiraSans-Light: 'FiraSans-Light', sans-serif;

@font-face {
    font-family: 'FiraSans-LightItalic';
    src: url("../fonts/FiraSans-LightItalic.otf") format("truetype");
 }
$FiraSans-LightItalic: 'FiraSans-LightItalic', sans-serif;